[submodule "stirlo.be"]
	path = stirlo.be
	url = https://github.com/stirlo/stirlo.be.git
[submodule "stirlo.space"]
	path = stirlo.space
	url = https://github.com/stirlo/stirlo.space.git
[submodule "oursquadis.top"]
	path = oursquadis.top
	url = https://github.com/stirlo/oursquadis.top.git
[submodule "adhan-swift"]
	path = adhan-swift
	url = https://github.com/stirlo/adhan-swift.git
[submodule "JPT-swift"]
	path = JPT-swift
	url = https://github.com/stirlo/JPT-swift.git
[submodule "JPT-flipperzero"]
	path = JPT-flipperzero
	url = https://github.com/stirlo/JPT-flipperzero.git
[submodule "adhan"]
	path = adhan
	url = https://github.com/stirlo/adhan.git
